{%extends "base.html"%}
{%block title%}Login{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{% block content %}
<body background="..\static\backgroundinicio.jpg" style="background-repeat: no-repeat; background-position: 50%;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger fade show alert-dismissible" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}       
    <div class="centered">
            <div>{{error}}</div>
            <div class="containerForm">
                <form class="formLogin" method="POST" action="/authenticate">
                    <p>Email:</p>
                    <input id="user" class="areaEscribir" name="email" type="text" required>
                    <p>Contraseña:</p>
                    <input style="margin-bottom: 30px" name="password" class="areaEscribir" type="password" required>
                    <div>
                        <input type="submit" class="btn btn-info" value="Aceptar">
                        <input type="reset" class="btn btn-info" value="Cancelar">
                    </div>
                </form>
            </div>
        </div>
</body>
{%endblock content%}