<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\static\estilop.css">
    <title>Administracion</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="inicio.html"></a>
        <div class="menuHeader">
            <a class="botoncito" href="">Instrumentos</a>
            <a class="botoncito" href="">Musicos</a>
            <a class="botoncito" href="administracion.html">Area Admin</a>
        </div>
        <div class="botonesLogin">
            <a class="botoncito" href="login.html">Iniciar sesion</a>
            <a class="botoncito" href="">Registrarse</a>
        </div>
    </header>
    <div class="fondito">
        <h1 style="padding-top: 15px">Menu administrador</h1>
        <nav class="menuAdmin">
            <a class="botoncito" href="/template/informacion.html">Informacion de la Orquesta Escuela</a>
            <a class="botoncito" href="">Cantidad de elementos por pagina</a>
            <a class="botoncito" href="/template/desactivar.html">Habilitar/Deshabilitar sitio</a>
        </nav>
    </div>
    <footer class="footer">
        <div class="contactoFooter">
            <ul class="linksContacto">
                <li><a href="">Acerca de nosotros</a></li>
                <li><a href="">Contactanos</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>