<!DOCTYPE html>
{%extends "base.html"%}
{%block title%}Administracion{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{%block content%}

<body>
    {%include 'header.html'%}
    <div class="fondito">
        <h1 style="padding-top: 15px">Menu administrador</h1>
        <nav class="menuAdmin">
            <a class="btn btn-info" href="{{ url_for('editarInfo') }}">Editar informacion de la Orquesta</a>
            <a class="btn btn-info" href="./listar.html">Cantidad de elementos por pagina</a>
            <a class="btn btn-info" href="./desactivar.html">Desactivar Sitio</a>
        </nav>
    </div>
    
    
</body>
{%endblock content%}