<!DOCTYPE html>
{%extends "base.html"%}
{%block title%}Administracion{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{%block content%}

<body>
    {%include 'header.html'%}
    <div class="fondito">
        <h1 style="padding-top: 15px">Menu administrador</h1>
        <nav class="menuAdmin">
            <a class="btn btn-info" href="{{ url_for('editarInfo') }}">Editar informacion de la Orquesta</a>
            <a class="btn btn-info" href="./listar.html">Cantidad de elementos por pagina</a>
            {% if session['sitioActivado'] %}
                <a class="btn btn-info" href="{{ url_for('desactivar') }}">Desactivar Sitio</a>
            {% else %}
                <a class="btn btn-info" href="{{ url_for('activar') }}">Activar Sitio</a>
            {%endif%}
        </nav>
    </div>
    {%include 'footer.html'%}
</body>
{%endblock content%}