<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="static\estilop.css" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  {% block content %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    {% endblock %}
</html>