<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock title %}</title>

  <!-- Bootstrap core CSS and JS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='estilop.css') }}">
  <link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
  <script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='simple-sidebar.css') }}" rel="stylesheet">
  {% endblock head %}
</head>

<body style="background-color:antiquewhite; background-repeat: no-repeat; background-position: 50%;">
  <div class="d-flex toggled" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Asociaciones</div>
      <div class="list-group list-group-flush">
        {% if session['email'] is defined and 'administrador' in session['roles'] %}
        <a href="{{url_for('asociacionesTalleres')}}"
          class="list-group-item list-group-item-action bg-light">Asociaciones de talleres</a>
        {% endif %}
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-secondary border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>
        <a class="logo" href="{{url_for('index')}}"></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('verMapa')}}">Mapa </a>
            </li>
			<li class="nav-item active">
              <a class="nav-link" href="{{url_for('index')}}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            {%if session['email'] is not defined%}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            {%else%}
            <li>
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% if 'administrador' in session['roles'] %}
            <a class="nav-link" href="{{ url_for('administracion') }}">Administracion</a>
            {% endif %}
            {%endif%}
            {% if session['email'] is defined and 'administrador' in session['roles'] %}
            <li>
            <a href="{{url_for('asociacionesTalleres')}}"
              class="nav-link">Asociaciones de talleres</a>
            {% endif %}
          </li>
            {% if session['email'] is defined %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Listados
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                {% if 'administrador' in session['roles'] %}
                <a class="dropdown-item" href="{{ url_for('listadoUsers') }}">Usuarios</a>
                {% endif %}
                {% if 'estudiante_index' in session['permisos'] %}
                <a class="dropdown-item" href="{{ url_for('listadoEstudiantes') }}">Estudiantes</a>
                {% endif %}
                {% if 'docente_index' in session['permisos'] %}
                <a class="dropdown-item" href="{{ url_for('listadoDocentes') }}">Docentes</a>
                {% endif %}
                <!-- Para ciclo lectivo -->
                {% if 'ciclolectivo_index' in session['permisos'] %}
                <a class="dropdown-item" href="{{ url_for('listadoCiclosLectivos') }}">Ciclos lectivos</a>
                {% endif %}
                <!-- Para instrumentos -->
                {% if 'instrumentos_index' in session['permisos'] %}
                <a class="dropdown-item" href="{{ url_for('listadoInstrumentos') }}">Instrumentos</a>
                {% endif %}
              </div>
            </li>
            {% endif %}
            {% if 'administrador' in session['roles'] and not desactivado %}
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{ url_for('asignarHorarios') }}">Asignar Horarios</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <div class="dropdown-divider"></div>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% block content %}
      {% endblock content %}
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $(document).ready(function () {
      $('#listado').DataTable();
    });
  </script>
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  <script>
    $(document).ready(function () {
      $('.js-example-basic-multiple').select2({ width: '100%' });
    });</script>
  <script>
    $(document).ready(function () {
      $("#e1").select2({ dropdownCssClass: 'bigdrop' });
    });</script>

</body>

</html>