<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\static\estilop.css">
    <title>Desactivar/Activar</title>
</head>

<body>
    
    <h1>El sitio se encuentra en mantenimiento</h1>
    <footer class="footer">
        <div class="contactoFooter">
            <ul class="linksContacto">
                <li><a href="">Acerca de nosotros</a></li>
                <li><a href="">Contactanos</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>