{%extends "base.html"%}
{%block title%}Formulario{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{%block content%}

<body id="bodyInicio">
    {%include 'header.html'%}
    <form action="" method="post">
        <label for="text">Titulo: </label>
        <input type="text" id="titulo" name="titulo" style="width: 350px;" value="{{ titulo }}" /><br>
        <label for="descripcion">Descripcion: </label>
        <textarea rows="5"  id="descripcion" name="descripcion"  >{{ descripcion}}</textarea>
        <br>
        <label for="text">Mail: </label>
        <input type="text" id="mail" name="mail" /><br>
        <input class="btn btn-info" type="submit" id="send-signup" name="signup" value="Editar" />
        <a class="btn btn-info" href="{{ url_for('administracion')}}">Volver</a>
    </form>
    {%include 'footer.html'%}
</body>
{% endblock content %}