<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\static\estilop.css">
    <title>formulario</title>
</head>

<body>
    
    <form action="" method="post">
        <label for="text">Titulo: </label>
        <input type="text" id="titulo" name="titulo" /><br>
        <label for="descripcion">Descripcion: </label>
        <input type="text" id="descripcion" name="descripcion" /><br>
        <label for="text">Mail: </label>
        <input type="text" id="mail" name="mail" /><br>
        <input class="botoncito" type="submit" id="send-signup" name="signup" value="Editar" />
        <a class="botoncito" href="{{ url_for('informacion')}}">Volver</a>
    </form>
{%include 'footer.html'%}
</body>
</html>