<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\static\estilop.css">
    <title>Formulario</title>
</head>

<body>
    
    <form action="/informacion.html" method="POST">
        <input type="text" name="titulo" placeholder="titulo">
        <input type="text" name="descripcion" placeholder="descripcion">
        <input type="text" name="mail" placeholder="mail">
        <button type="submit">
            Guardar
        </button>
    </form>
    {%include 'footer.html'%}
</body>

</html>