<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\static\estilop.css">
    <title>Administracion</title>
</head>

<body>
   
    <t1>Titulo</t1>
    <t1>Descripcion</t1>
    <t1>Mail de contacto</t1>
    <footer class="footer">
        <div class="contactoFooter">
            <ul class="linksContacto">
                <li><a href="">Acerca de nosotros</a></li>
                <li><a href="">Contactanos</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>