<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="stylesheet" href="estilop.css">
	<meta charset="UTF-8">
	<title>Escuela Orquesta de Berisso</title>
</head>

<body bgcolor="burlywood">
	<header class="header">
		<a class="logo" href="inicio.html"></a>
		<div class="menuHeader">
			<a class="botoncito" href="">Instrumentos</a>
			<a class="botoncito" href="">Musicos</a>
			<a class="botoncito" href="administracion.html">Area Admin</a>
		</div>
		<div class="botonesLogin">
			<a class="botoncito" href="login.html">Iniciar sesion</a>
			<a class="botoncito" href="">Registrarse</a>
		</div>
	</header>
	<div style="background-color:white; border-radius:5px">
		<p style="color:black"> Orquesta escuela de berisso </p>

		<p style="color:black"> La Orquesta Escuela de Berisso comenzó a funcionar en septiembre del 2005 en el barrio
			de El Carmen de la localidad de Berisso bajo la dirección del Mtro. Juan Carlos Herrero, orientada
			especialmente a la atención de chicos en situación de vulnerabilidad socio-cultural.
		</p>
		<p style="color:black">
			Desde sus 20 alumnos iniciales fue creciendo hasta atender actualmente una matrícula de aproximadamente 530
			chicos, distribuidos en los 15 núcleos que la conforman y dirigida a una franja etaria de 5 a 23 años,
			cubriendo en su accionar a la casi totalidad de los barrios de Berisso más los espacios cedidos por el Club
			Español y el Teatro Argentino
		</p>
	</div>
	<a class="botoncito" href="login.html" id="loginButton"> Iniciar Sesion</a>
	<footer class="footer">
		<div class="contactoFooter">
			<ul class="linksContacto">
				<li><a href="">Acerca de nosotros</a></li>
				<li><a href="">Contactanos</a></li>
				<li><a href="">Ayuda</a></li>
			</ul>
		</div>
	</footer>
</body>


</html>