{%extends "base.html"%}
{%block title%}Inicio{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{%block content%}

<body id="bodyInicio">
	{%include 'header.html'%}
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-success fade show alert-dismissible" role="alert">
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	{% if user is defined %}
	<div class="alert alert-success fade show alert-dismissible" role="alert">
			Bienvenido {{ user }}
		</div>
	{% endif %}
	<div style="background-color:white; border-radius:5px">
		<p style="color:black"> 
			<h3>{{titulo}}</h3> 
		</p>

		<p style="color:black"> 
				{{descripcion}}
			</p>
	</div>
	<a class="btn btn-info" href="{{url_for('login')}}" id="loginButton"> Iniciar Sesion</a>
	{%include 'footer.html'%}
</body>
{%endblock content%}