<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="static\estilop.css" />
    <title>{% block title %}Listar{% endblock %}</title>
    {% endblock %}
  </head>
  <tbody>
      {% for contact in contacts%}
        <tr>
          <h1> Titulo: {{ contact.0 }}</h1>
          <h1> Titulo: {{ contact.1 }}</h1>
          <h1> Descripcion: {{ contact.2 }}</h1>
          <h1> Mail: {{ contact.3 }}</h1>
          <h1> activo: {{ contact.4 }}</h1>
          <h1> cantLista: {{ contact.5 }}</h1>
        </tr>
      {% endfor %}
      {%include 'footer.html'%}
    </tbody>
</html>