{%extends "base.html"%}
{%block title%}Inicio{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{%block content%}

<body>
    {%include 'header.html'%}
    <div class="split left">
        <img src="..\static\backgroundinicio.jpg" style="align-self: center; width:100%" alt="imagenOrquesta">
    </div>
    <div class="split right">
        <div class="centered">
            <div>{{error}}</div>
            <div class="containerForm">
                <form class="formLogin" method="POST" action="{{login}}">
                    <p>Nombre de usuario:</p>
                    <input id="user" class="areaEscribir" name="email" type="text" required>
                    <p>Contraseña:</p>
                    <input style="margin-bottom: 30px" name="password" class="areaEscribir" type="password" required>
                    <div>
                        <input type="submit" class="botoncito" value="Aceptar">
                        <input type="reset" class="botoncito" value="Cancelar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {%include 'footer.html'%}
</body>
{%endblock content%}