{%extends "base.html"%}
{%block title%}Inicio{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{%block content%}

<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>Editar informacion de {{user.username}}</h1>
    <form method="POST" action="{{url_for('actualizar', m =user.email)}}">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input class="form-control" class="areaEscribir" id="nombre" name="nombre" type="text" value="{{ user.first_name }}" required>
      </div>
      <div class="form-group">
          <label for="apellido">Apellido:</label>
        <input class="form-control" class="areaEscribir" id="apellido" name="apellido" type="text" value="{{ user.last_name }}"required>
      </div>
      <div class="form-group">
          <label for="username">Nombre de usuario:</label>
        <input class="form-control" class="areaEscribir" id="username" name="username" type="text" value="{{ user.username }}"required>
      </div>
      <div class="form-group">
          <label for="password">Contraseña:</label>
        <input class="form-control" name="password" style="margin-bottom: 15px;" id="password" class="areaEscribir" value="{{ user.password }}"
          type="password"required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="email" name="email" id="email" value="{{user.email}}" disabled>
      </div>
      <div class="form-group">
        <p>Roles:</p>
        {% for r in roles %}
          {{r.nombre}}:<input  type="checkbox" name="rol{{r.id}}" value="{{r.id}}" id="roles" {% if r in rolesUser %} checked {% endif %}> <br>
        {% endfor %}
        <div>
          <input type="submit" class="btn btn-info" value="Aceptar">
          <a href="{{ url_for('listadoUsers')}}" class="btn btn-info">Volver</a>
        </div>
    </form>
  </div>
</body>
{% endblock content %}