{%extends "base.html"%}
{%block title%}Inicio{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{%block content%}

<body id="bodyListado">
    {%include 'header.html'%}
    <div class="fondito">
        <form action="{{ url_for('buscarUsuario')}}" method="POST">
            <input type="text" id="buscarUser" style="width: 300px; height: 30px;" name="nombre"
                placeholder="buscar usuario">
            <input type="submit" value="Buscar">
        </form>
        <table class="listadoUsuarios">
            <tr class="titulosTabla">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre de usuario</th>
                <th>Activo?</th>
                <th>Opciones</th>
            </tr>
            {% for user in lista %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.username}}</td>
                <td>
                    {% if user.activo == 1 %}
                    Si
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td>
                    <nav id="opcionesUser">
                        <a href="{{ url_for('showUser')}}" class="btn btn-info">Mostrar</a>
                        {% if session['username'] == 'mail1@gmail.com' %}
                        <a href="" class="btn btn-info">Actualizar</a>
                        <a href="" class="btn btn-info">Eliminar</a>
                        {% if user.activo == 1 %}
                        <a href="{{ url_for('bloquearUser') }}" class="btn btn-info">Bloquear</a>
                        {% else %}
                        <a href="{{ url_for('activarUser') }}" class="btn btn-info">Activar</a>
                        {% endif %}
                        {% endif %}
                    </nav>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {%include 'footer.html'%}
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("buscarUser");
            filter = input.value.toUpperCase();
            table = document.getElementById("listadoUsuarios");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (event) {
                $.ajax({
                    data: {
                        busqueda: $('#buscarUser').val()
                    },
                    type: 'POST',
                    url: '/buscar'
                })
                    .done(function (data) {
                        if (data.users) {

                        }
                    }
                    )
            }
            )
        })
    </script>
</body>
{%endblock content%}