{%extends "base.html"%}
{%block title%}Inicio{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{%block content%}

<body>
    {%include 'header.html'%}
    <div class="fondito">
        <div class="centered">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
            <form class="formLogin" method="POST" action="{{url_for('crear')}}">
                <p>Nombre:</p>
                <input id="nombre" class="areaEscribir" name="nombre" type="text" required>
                <p>Apellido:</p>
                <input id="apellido" class="areaEscribir" name="apellido" type="text" required>
                <p>Nombre de usuario:</p>
                <input id="user" class="areaEscribir" name="user" type="text" required>
                <p>Email:</p>
                <input id="email" class="areaEscribir" name="email" type="text" required>
                <p>Contraseña:</p>
                <input name="password" style="margin-bottom: 15px;" class="areaEscribir" type="password" required>
                <div>
                    <input type="submit" class="botoncito" value="Aceptar">
                    <input type="reset" class="botoncito" value="Cancelar">
                </div>
            </form>
        </div>
    </div>
    {%include 'footer.html'%}
</body>
{% endblock content %}