<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Crear Ciclo Lectivo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <form id="formNuevoCiclo">
            <div class="row" style="padding-bottom: 25px;">
                <div class="col">
                    <label for="inicio">Fecha de inicio:</label>
                    <input class="form-control form-control-sm" id="inicio" class="areaEscribir" name="inicio"
                        type="date" required>
                </div>
                <div class="col">
                    <label for="fin">Fecha de Fin:</label>
                    <input class="form-control form-control-sm" id="fin" class="areaEscribir" name="fin"
                        type="date" required>
                </div>
                <div class="col">
                    <label for="fechaN">Semestre:</label>
                    <select class="form-control form-control-sm" id="semestre" name="semestre" required>
                        <option value="1">Primer Semestre</option>
                        <option value="2">Segundo Semestre</option>
                    </select>
                </div>
            </div>

            <div>
                <input type="submit" class="btn btn-info" value="Aceptar">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
</div>