{%extends "base.html"%}
{%block title%}Registro Estudiante{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{%block content%}

<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{url_for('crear')}}">
      <div class="row">
        <div class="col">
          <label for="nombre">Nombre:</label>
          <input class="form-control form-control-sm" id="nombre" name="nombre" type="text" required>
        </div>
        <div class="col">
          <label for="apellido">Apellido:</label>
          <input class="form-control form-control-sm" id="apellido" name="apellido" type="text" required>
        </div>
        <div class="col">
          <label for="username">Nombre de usuario:</label>
          <input class="form-control form-control-sm" id="username" name="username" type="text" required>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="fechaN">Fecha Nacimiento:</label>
          <input class="form-control form-control-sm" id="fechaN" name="fechaN" type="date" required>
        </div>
        <div class="col">
          <label for="lugarN">Lugar Nacimiento:</label>
          <input class="form-control form-control-sm" id="lugarN" name="lugarN" type="text" required>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="localidad">Localidad:</label>
          <select class="form-control form-control-sm" id="localidad" name="localidad" required>
              {% for l in localidades %}
              <option value="{{l}}">{{l}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="col">
          <label for="domicilio">Domicilio:</label>
          <input class="form-control form-control-sm" id="domicilio" name="domicilio" type="text" required>
        </div>
        <div class="col">
          <label for="barrio">Barrio:</label>
          <select class="form-control form-control-sm" id="barrio" name="barrio" required>
            {% for b in barrios %}
            <option value="{{b.nombre}}">{{b.nombre}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="genero">Genero:</label>
          <input class="form-control form-control-sm" id="denero" name="genero" type="select" required>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="tipoD">Tipo de Documento:</label>
          <select class="form-control form-control-sm" id="tipoD" name="tipoD" required>
              {% for t in dnis %}
              <option value="{{t}}">{{t}}</option>
              {% endfor %}
            </select>  
        </div>
        <div class="col">
          <label for="numeroD">Numero de Documento:</label>
          <input class="form-control form-control-sm" id="numeroD" name="numeroD" type="number" required>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="telefono">Telefono:</label>
          <input class="form-control form-control-sm" id="telefono" name="telefono" type="text" required>
        </div>
      </div>

      <div class="row" style="padding-bottom: 20px;">
        <div class="col">
          <label for="responsable">Responsable a Cargo:</label>
          <select class="form-control form-control-sm" id="responsable" name="responsable" required>
          </select>
        </div>
        <div class="col">
          <label for="escuela">Escuela:</label>
          <select class="form-control form-control-sm" id="escuela" name="escuela" required>
            {% for e in escuelas %}
            <option value="{{e.nombre}}">{{e.nombre}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <label for="nivel">Nivel:</label>
          <select class="form-control form-control-sm" id="nivel" name="nivel" required>
            {% for n in niveles %}
            <option value="{{n.nombre}}">{{n.nombre}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div>
        <input type="submit" class="btn btn-info" value="Aceptar">
        <a href="{{ url_for('index')}}" class="btn btn-info">Volver</a>
      </div>
    </form>
  </div>
</body>
{% endblock content %}