{%extends "base.html"%}
{%block title%}Registro{%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{%block content%}

<body>
  <div class="fondito">
    <div class="centered">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <form method="POST" action="{{url_for('crear')}}">
        <fieldset>
        <div class="form-inline">
          <p>Nombre:</p>
          <input id="nombre" class="areaEscribir" name="nombre" type="text" style="float: left"  required>
        </div>
        
        <div class="form-inline">
          <p>Apellido:</p>
          <input id="apellido" class="areaEscribir" name="apellido" type="text" style="float: left" required>
        </div>
        </fieldset>
        <fieldset>
        <div class="form-inline">
            <p>Fecha Nacimiento:</p>
            <input id="fechaN" class="areaEscribir" name="fechaN" type="date" style="float: left" required>
        </div>

        <div class="form-inline">
            <p>Lugar Nacimiento:</p>
            <input id="lugarN" class="areaEscribir" name="lugarN" type="date" style="float: left" required>
        </div>
        </fieldset>

        <div class="form-inline">
            <p>Localidad:</p>
            <input id="localidad" class="areaEscribir" name="localidad" type="select" style="float: left" required>
        </div>

        <div class="form-inline">
            <p>Domicilio:</p>
            <input id="domicilio" class="areaEscribir" name="domicilio" type="text" style="float: left" required>
        </div>

        <div class="form-inline">
            <p>Barrio:</p>
            <input id="barrio" class="areaEscribir" name="barrio" type="select" style="float: left" required>
        </div>

        <div class="form-inline">
            <p>Genero:</p>
            <input id="denero" class="areaEscribir" name="genero" type="select" style="float: left" required>
        </div>

        <div class="form-inline">
            <p>Tipo de Documento:</p>
            <input id="tipo" class="areaEscribir" name="tipo" type="select" style="float: left" required>
        </div>

        <div class="form-inline">
            <p>Numero de Documento:</p>
            <input id="numero" class="areaEscribir" name="numero" type="number" style="float: left" required>
        </div>

        <div class="form-inline">
            <p>Responsable a Cargo:</p>
            <input id="responsable" class="areaEscribir" name="responsable" type="select" style="float: left" required>
        </div>

        <div class="form-inline">
            <p>Telefono:</p>
            <input id="telefono" class="areaEscribir" name="telefono" type="text" style="float: left" required>
        </div>

        <div class="form-inline">
            <p>Escuela:</p>
            <input id="escuela" class="areaEscribir" name="escuela" type="select" style="float: left" required>
        </div>

        <div class="form-inline">
            <p>Nivel:</p>
            <input id="nivel" class="areaEscribir" name="nivel" type="select" style="float: left" required>
        </div>

        <div class="form-inline">
          <p>Nombre de usuario:</p>
          <input id="user" class="areaEscribir" name="user" type="text" style="float: left" required>
        </div>


        <div>
          <input type="submit" class="btn btn-info" value="Aceptar">
          <input type="reset" class="btn btn-info" value="Cancelar">
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock content %}